<h1>All Requests</h1>

<table border='1px'>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
  </tr>

  <% @requests.each do |request|  %>
  <tr>
    <td><%= request.name %></td>
    <td><%= request.email %></td>
    <td><%= request.department %></td>
    <td><%= request.message %></td>
  </tr>
  <% end %>
</table>
