<h1><%= @request.name %></h1>

<p><strong>Email</strong>:<%= @request.email %></p>

<p><strong>Department</strong>:<%= @request.department %></p>

<p><strong>Message</strong>:<%= @request.message %></p>
